.LandingPageMain {
    /*border: 2px solid black;*/
    margin: 5px;
    
}
.form-group {
    margin-bottom:0 !important;
}
.landingMsgSubTitle {
    font-weight:700;
    font-size:14px;
}
.validateOTPMessage {
    font-size:18px;
    padding:20px 40px 20px 40px;
}
.landingPageBtn {
    background-color: rgba(255,255,255,0) !important;
    border: rgba(67,160,71,1) solid 1px !important;
    color: rgba(67,160,71,1) !important;
    border-radius: 5px !important;
}

    .landingPageBtn:hover {
        background-color: rgba(67,160,71,1) !important;
        border: rgba(67,160,71,1) solid 1px !important;
        color: rgba(255,255,255,1) !important;
    }

.landingPageLink {
    text-decoration-line: underline;
    color: rgba(0,123,255,1);
    cursor:pointer;
}
    .landingPageLink:hover {
        text-decoration-line: none;
        color:black;
    }
.scrollable-section {
    overflow-y: auto;
    /* height: 100vh;*/
    height: calc(100vh - 100px); /* Adjusting for header (60px) and footer (60px) height */
}