.LandingPageMain {
    /*border: 2px solid black;*/
    margin: 5px;
    
}
.form-group {
    margin-bottom:0 !important;
}
.landingMsgSubTitle {
    font-weight:700;
    font-size:14px;
}
.validateOTPMessage {
    font-size:18px;
    padding:20px 40px 20px 40px;
}