.tablebox {
    border: 1px solid rgba(0,123,255,0.5);
}
.tableHeader {
    color: white;
    background-color: rgba(0,123,255,1);
    padding: 5px;
    border-bottom: solid rgba(0,123,255,0.5) 2px;
}
.delayIcon {
    cursor:pointer;
}

.routingBtn {
    background-color: rgba(255,255,255,0) !important;
    border: rgba(0,123,255,1) solid 1px !important;
    color: rgba(0,123,255,1) !important;
    border-radius: 15px !important;
    font-weight: 600 !important;
}

    .routingBtn:hover {
        background-color: rgba(0,123,255,1) !important;
        border: rgba(0,123,255,1) solid 1px !important;
        color: rgba(255,255,255,1) !important;
    }