.myAginput {
    padding: 10px;
    border: 0;
    border-bottom: 2px solid #007bff;
    border-radius: 5px;
    font-size: 12px;
    flex-shrink: 1;
    outline: none;
}

    .myAginput :focus {
        border-color: #007bff; /* Blue */
        outline: 2px solid #007bff;
    }
