body, html {
    height: 100%;
    margin: 0;
    padding:0;
    display: flex;
    flex-direction: column;
}
.row {
    padding:0;
    margin:0 !important;
}
.col-md- {
    padding: 0;
    margin: 0;
}
.appMainBody {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 30px;
    top: 57px;
    right:0;
    width: 100%;
    padding:5px;
}
.header {
    width: 100%;
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .header img {
        max-height: 50px;
    }

.form-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.form-content {
    width: 100%;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.logoText {
    font-size: 30px;
    font-family: 'Arial';
}
.logoSubPart {
    color: #ff8400;
    font-weight:800 !important;
}
.scrollable-mobile {
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 85vh; /* Limit height for mobile scrolling */
    margin-top:5px;
}

/* Disable scrolling for larger screens */
@media (min-width: 992px) {
    .scrollable-mobile {
        overflow-y: visible;
        max-height: none;
    }
}
.user-info {
    text-align: right;
    width:50%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    padding: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

    nav ul li {
        margin: 0 15px;
    }

        nav ul li a {
            color: white;
            text-decoration: none;
            font-size: 18px;
        }
        nav ul li a:hover {
            color: white;
            text-decoration: none;
            font-weight: 600;
        }

/* Hamburger menu style */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 60px;
    height: 25px;
    justify-content: space-between;
}

    .hamburger .bar {
        width: 100%;
        height: 5px;
        background-color: white;
    }

/* Mobile view */
@media (max-width: 768px) {
    .hamburger {
        display: flex; /* Show hamburger on mobile */
        width: 60px;
        margin-right:10px;
    }

    .menu {
        display: none; /* Hide menu on mobile by default */
        flex-direction: column;
        width: 100%;
        position: absolute;
        background-color:#007bff;
        top: 60px;
        left: 0;
        padding: 20px;
        box-sizing: border-box;
        z-index:1000;

    }

        .menu li {
            margin: 10px 0;
            text-align: left;
        }

        .menu.active {
            display: flex; /* Show menu when hamburger is clicked */
        }
}

/* Desktop view */
@media (min-width: 769px) {
    .hamburger {
        display: none; /* Hide hamburger on desktop */
    }

    .menu {
        display: flex; /* Show horizontal menu on desktop */
    }
}
